<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title><%= title %></title>
    <% include ./header.ejs %>
  </head>
  <body>
  <div class="yourPageName_wrap">
    <div class="row header_wrap">
        <h1>
            <a href="#">
                <img src="logo.png" alt="공업사로고">
            </a>
        </h1>
        <button type="button" class="login_btn">로그인</button>
    </div>
    <div id="main_container">
        <div class="main_inner_wrap">
            <div class="estimate_result">
                <!-- <% 
                    for(var i = 0; i < len ; i++){ 
                %>
                    <div><%= Object.keys(EstimateData)[i] %> :<%= Object.values(EstimateData)[i] %></div>
                <% 
                    } 
                %> -->
                
                <div class="result">
                    <h1>견적서 요청</h1>
                    <h1>완료되었습니다.</h1>
                </div>
                <div class="contents">
                    <h2>차종</h2>
                    <p id="carType">
                        <%= EstimateData.car_type %>
                    </p>
                    <h2>요청사항</h2>
                    <p id="requestType">
                        <% if(EstimateData.chk1 == "on") { %>
                            <span>보험수리</span>
                        <% } %>
                        <% if(EstimateData.chk2 == "on") { %>
                            <span>랜터카</span>
                        <% } %>
                        <% if(EstimateData.chk3 == "on") { %>
                            <span>서비스픽업서비스</span>
                        <% } %>
                        <% if((EstimateData.chk1 == undefined)
                                && EstimateData.chk2 == undefined
                                && EstimateData.chk3 == undefined) { %>
                            <span>없음</span>
                        <% } %>
                    </p>
                    <h2>요구사항</h2>
                    <p id="requirements">
                        <%= EstimateData.req_text %>
                    </p>
                    <h2>프로모션코드</h2>
                    <p id="eventCode">
                        <%= EstimateData.event_code %>
                    </p>
                    <h2>업로드 사진</h2>
                    <p class="imagePreViewList">
                        <% 
                            for(var i = 0; i < len ; i++){ 
                                if(Object.keys(EstimateData)[i].indexOf("image") != -1) { %>
                                    <span class="outer" >
                                        <span class="inner"> 
                                            <img src="<%= Object.values(EstimateData)[i] %>" class="imagePreView" />
                                        </span>
                                    </span>
                        <% 
                                } 
                            }
                        %>
                    </p>
                </div>
                <div class="check_div" >
                    <a id="checkBtn" href="/main">확인</a>
                </div>
            </div>
            <div class="notice">
            </div>
        </div>
    </div>
    <% include ./footer.ejs %>
    </div>
  </body>
</html>
